
@{
    ViewData["Title"] = "Delete Movie";
}

@model MovieModel

<h1>Confirm Deletion?</h1>
<h2>Are you sure you want to delete the record for @Model.Title?</h2>

<form method="post" asp-action="Delete">
    <button type="submit">Delete</button>
    <a asp-controller="Home" asp-action="Movies" class="btn btn-primary">Cancel</a>

    <input type="hidden" asp-for="MovieID"/>
</form>